
obj/Release/La Vita e Bella\.csproj\.CoreCompileInputs\.cache

obj/Debug/La Vita e Bella\.pdb

\.vs/La Vita e Bella/v16/\.suo

\.vs/La Vita e Bella/v16/Server/sqlite3/db\.lock

\.vs/La Vita e Bella/v16/Server/sqlite3/storage\.ide

\.vs/La Vita e Bella/v16/Server/sqlite3/storage\.ide-shm

\.vs/La Vita e Bella/v16/Server/sqlite3/storage\.ide-wal

\.vs/La-Vita-e-Bella/v16/\.suo

\.vs/slnx\.sqlite

\.vs/VSWorkspaceState\.json

bin/Debug/La Vita e Bella\.exe

bin/Debug/La Vita e Bella\.exe\.config

bin/Debug/La Vita e Bella\.pdb

obj/Debug/La Vita e Bella\.csproj\.FileListAbsolute\.txt

obj/Debug/La Vita e Bella\.csprojAssemblyReference\.cache

obj/Debug/La Vita e Bella\.exe

\.vs/La Vita e Bella/v15/\.suo

\.vs/La Vita e Bella/v15/Server/sqlite3/db\.lock

\.vs/La Vita e Bella/v15/Server/sqlite3/storage\.ide

\.vs/La Vita e Bella/v15/Server/sqlite3/storage\.ide-shm

\.vs/La Vita e Bella/v15/Server/sqlite3/storage\.ide-wal

obj/Debug/La Vita e Bella\.csproj\.CoreCompileInputs\.cache

obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92\.cs

obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1\.cs

obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3\.cs

bin/Release/La Vita e Bella\.exe

bin/Release/La Vita e Bella\.exe\.config

bin/Release/La Vita e Bella\.pdb

obj/Release/build\.force

obj/Release/La Vita e Bella\.csproj\.FileListAbsolute\.txt

obj/Release/La Vita e Bella\.exe

obj/Release/La Vita e Bella\.pdb

La Vita e Bella\.csproj\.user
